*~
.*.swp
*.o
ext/dash/Makefile
ext/dash/builtins.c
ext/dash/builtins.def
ext/dash/builtins.h
ext/dash/helpers/mknodes
ext/dash/helpers/mksyntax
ext/dash/mkmf.log
ext/dash/nodes.c
ext/dash/nodes.h
ext/dash/syntax.c
ext/dash/syntax.h
ext/dash/token.h
ext/dash/dash.so
ext/dash/helpers/mkinit
ext/dash/helpers/mksignames
ext/dash/init.c
ext/dash/signames.c
test/dash/rt/new/*
